:root{
    --container-widht: 1200px;
    --container-pading: 0 60px;
    --org-figur-width: 490px;
    --org-figur-height: 400px;
}
.main{
    background: white;
    margin: 0;
}
body{
    margin: 0;
}
.container {
    display: flex;
    width: 100vw;
    height: 800px;
    background: red;
    
}

.org_block{
    display: flex;

    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    position: absolute;
    background: black;
    #z-index: 2;
}

.org_figure{
    z-index: 4;
    width: var(--container-widht);
    height: var(--org-figur-height);
    color: blue;
}
